apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: web-ns
  labels:
    app: web
    tier: frontend
spec:
  type: NodePort
  selector:
    app: web
    tier: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
